@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}

/* :root {
  --d: 2500ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 50%;
  --c1: rgba(168, 239, 255, 1);
  --c2: rgba(168, 239, 255, 0.1);
} */
:root {
  --d: 2500ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 50%;
  --c1: rgba(168, 239, 255, 1);
  --c2: rgba(168, 239, 255, 0);
}

html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(113, 115, 112) 50%, rgb(34, 35, 36) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  .content {
    border: 0.35rem solid;
    border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
    animation: borderRotate var(--d) linear infinite forwards;
    /* above is new */
   background-color:rgba(0, 0, 0, 0.669); 
    border-radius:.25em;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-shadow: rgba(0, 0, 0, 0.615) 0px 5px 15px;
    box-sizing:border-box;
    width: 700px;
    height: 450px;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }
  @keyframes borderRotate {
    100% {
      --angle: 420deg;
    }
  }
  
  @keyframes borderRadial {
    20% {
      --gradX: 100%;
      --gradY: 50%;
    }
    40% {
      --gradX: 100%;
      --gradY: 100%;
    }
    60% {
      --gradX: 50%;
      --gradY: 100%;
    }
    80% {
      --gradX: 0%;
      --gradY: 50%;
    }
    100% {
      --gradX: 50%;
      --gradY: 0%;
    }
  }
  
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }








.home-title{
  margin-top: 65px;
}

@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

.sp1{
    font-size: 80px;
    margin-top: -35px;
    font-family: "Audiowide", cursive;
    font-weight: 600;
}
div.mrxintro{
  font-family:monospace;
  transform: scale(0.94);
  animation: scale1 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale1 {
  100% {
    transform: scale(1);
  }
}
.sp2{
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
    margin-top: 40px;
    font-size: 20px;
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
  #h1a{
    font-size: 3em;
    font-weight: normal;
    color: white;
}

/* title styles */
.home-title span{
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 1.2;
}

.home-title span::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /* background: white; */
    background: rgba(169, 159, 159, 0.482);
    animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}

.home-title span::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(0);
}

.home-title span:nth-of-type(1)::before,
.home-title span:nth-of-type(1)::after{
    animation-delay: 1s;
}

.home-title span:nth-of-type(2)::before,
.home-title span:nth-of-type(2)::after{
    animation-delay: 1.5s;
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}






.span1{
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
    margin-top: 45px;
  }
  .span1 a{
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;
    
  }
  .span1 a:before,
  .span1 a:after{
    position: absolute;
    content: "Dive In";
    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 8px;
  }
  .span1 a:before{
    color: #fff;
    background: #000;
    transform: rotateY(0deg) translateZ(25px);
  }


  .span1 a:after{
    color: black;
    background-color: #878787;
    font-weight: bold;
    transform: rotateX(90deg) translateZ(25px);
  }
  .span1 a:hover{
    transform: translateZ(-25px) rotateX(-90deg);
  }
  


/* .content:hover{
cursor:pointer;
 background-color: rgba(202, 195, 195, 0.445); 
} */


/* .sp1:hover{
    color: #000;
}
.sp2:hover{
    color: #000;
} */



div.hell {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
}

.mrxcontainer {
  width: 9.25em;
  height: 1.15em;
  font-size: 4rem;
  font-family: sans-serif;
  position: relative;
}

.mrxcontainer div {
  position: absolute;
  left: 0;
  text-transform: uppercase;
  width: 100%;
  display: block;
  text-align: center;
}

.upper {
  font-weight: bold;
  top: 0;
  height: 65%;
  color: #fff;
  overflow: hidden;
  z-index: 3;
  animation: moveUp 3s ease-in-out 1;
  background-color: black;
}

.lower {
  font-weight: bold;
  bottom: 0;
  height: 100%;
  background: linear-gradient(180deg, #121212 52.5%, #fff 52.5%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  z-index: 1;
  animation: moveDown 3s ease-in-out 1;
}

.inside {
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  text-align: center;
  z-index: 2;
  font-size: 1rem;
  color: rgba(168, 239, 255, 1);
}

@keyframes moveUp {
  0%,
  100% {
    top: 0;
  }

  50%,
  70% {
    top: -45px;
  }
}

@keyframes moveDown {
  0%,
  100% {
    top: 0;
  }

  50%,
  70% {
    top: 30px;
  }
}

@media (max-width: 500px) {
  .mrxcontainer {
    font-size: 2.4rem;
  }

  .inside {
    font-size: 0.75rem;
  }
}
@media (max-width: 424px) {
  .mrxcontainer {
    font-size: 2rem;
  }

  .inside {
    font-size: 0.75rem;
  }
  .sp2{
    font-size: 17px;
  }
}


@media (max-width: 320px) {
  .mrxcontainer {
    font-size: 2rem;
  }

  .inside {
    font-size: 0.75rem;
  }
}
@media (max-width: 299px) {
  .mrxcontainer {
    font-size: 1.6rem;
  }

  .inside {
    font-size: 0.6rem;
  }
}
