button:hover{cursor: pointer}
    button {
      background: transparent; outline: none;
      position: relative;
       border: 3px solid #111; 
      padding: 10px;
      width: 25%;
      overflow: hidden;
      background-color: rgba(0, 0, 0, 0.769);
      color:white;
    }
    .var{margin-top: 20px;
        margin-left: 10px;
    }

    /*button:before (attr data-hover)*/
    button:hover:before{opacity: 1; transform: translate(0,0);}
    button:before{
      content: attr(data-hover);
      position: absolute;
      top: 1.1em; left: 0;
      width: 100%;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 800;
      font-size: .7em;
      opacity: 0;
      transform: translate(-100%,0);
      transition: all .3s ease-in-out;
    }
      /*button div (button text before hover)*/
      button:hover div{opacity: 0; transform: translate(100%,0)}
      button div{
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 800;
        font-size: .7em;
        transition: all .3s ease-in-out;
      }
