.background_{
    background-image: url('https://img.freepik.com/premium-photo/abstract-geometric-background-with-connecting-points-lines-network-concept_634443-302.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
}